@font-face { font-family: 'Wingdings 3'; font-weight: normal; font-style: normal; src: url('Wingdings 3.woff'); }
@font-face { font-family: 'Lucida Sans Unicode'; font-weight: bold; font-style: normal; src: url('Lucida Sans Unicode-B.woff'); }
@font-face { font-family: 'Lucida Sans Unicode'; font-weight: normal; font-style: normal; src: url('Lucida Sans Unicode.woff'); }
