[submodule "style/yamm3"]
	path = style/yamm3
	url = git@github.com:aroquemaurel/yamm3.git
[submodule "style/tocify"]
	path = style/tocify
	url = https://github.com/gfranko/jquery.tocify.js.git
[submodule "libs/PHPMailer"]
	path = libs/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "libs/password_compat"]
	path = libs/password_compat
	url = git@github.com:ircmaxell/password_compat.git
