.idea/*
.htaccess
.htpasswd
config.php
**/*/*.swo
**/*/*.swp
**/post.php
post.php
docs/members/registration
docs/members/billing
docs/members/logiciels
docs/CA
composer.lock
docs/members/afmckday/lille/**/*.mp3
docs/members/news
