.yamm {
	/*background-image: linear-gradient(to bottom,#222 0,#3e659f 80%);*/
    background-image: url('../img/headBackground.jpg');
    padding: 0;
}
html {
    height: 100%
}
body a {
	color: #0173A6;
}

body a:visited {
	color: #7483AE;
}
.yamm .navbar-nav>li>a {
	color: #fff;
}

.yamm .navbar-nav>li>a:hover {
	color: #d7c562;
}


#facebookhome {
    position: absolute;
    right: 15px;
    text-decoration: none;

}

footer {
	background-image: url('../img/footBackground.jpg');
	height: 120px;
	color: #fff;
	border-top: 4px solid #F1A260;
    position:relative;
    margin-top: -50px;
}

.home .carousel-indicators li {
    border-color: #2f4d79;
}

.home .carousel-indicators .active {
    background-color: #2f4d79;
}
.home {
    width: 450px;
    padding-left: 75px;
    margin:auto;
}

body {
	background-color: #ffffff;
	font-family: 'Lato';
    font-size: 12pt;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
}

.navbar-default {
	font-family: 'Roboto';
	font-size: 13px;
	border-bottom: 4px solid #F1A260;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
	background-image: linear-gradient(to bottom,#2f4d79 0,#2f4d79 100%);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #d7c562;
}

@media(max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: #273f64;
        width: 100%;
        margin-left: 0;
        position: absolute;
        color: #efefef;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #DBDBDB;
    }
    .main {
        padding: 0;
        margin: 0;
    }
    #footer {
        height: 500px;
    }
    .home {
        width: 300px;
        padding-left: 0px;
    }

    .members {
        background-color: #2b4368;
        height: 45px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
}
@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }

    .list-unstyled,
    .list-unstyled ul { min-width: 150px }

    .megamenu .dropdown-menu {
        margin-left: -500px;
    }

    .members {
        background-color: #273f64;
        height: 45px;
        margin-left: 40px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

}

h1 {
    color: #081743;
    padding-bottom: 20px;
    font-size: 24pt;
}
h2 {
    font-size: 20pt;
}
h3 {
    font-size: 15pt;
}

.breadcrumb {
	padding: 7px 14px;
	margin: 0 0 18px;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
	padding: 0 5px;
	color: #999999;
}
.breadcrumb .active a {
	color: #333333;
}
* html .main {
    height: 100%;
}

.main {
    position:relative;
    min-height: 100%;
    text-align: justify;
    overflow:auto;
    padding-bottom: 50px;
    padding-right: 150px;
    margin: auto;
    width: 80%;
    margin-top: 100px;
}

.back-to-top {
     position: fixed;
     bottom: 2em;
     right: 0px;
     text-decoration: none;
     color: #000000;
     background-color: rgba(235, 235, 235, 0.80);
     font-size: 12px;
     padding: 1em;
     display: none;
    margin-top: 150px;
 }


#toc {
    width: 250px;
}
.toc {
    position: fixed;
    right: 15px;
    text-decoration: none;
}
.news {
    position: absolute;
    right: 15px;
    text-decoration: none;
    text-align: left;
}

@media(max-width: 1200px) {
    #toc {
        display:none;
    }
    #facebookhome {
        display: none;
    }

    @media(min-width: 750px) {
        .members {
            background-color: #273f64;
            height: 45px;
            margin-left: 270px;
            margin-top: -110px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .members .dropdown-menu {
            margin-top: -90px;
        }
        .dropdown-toggle {
            max-width: 100px;
            height: 70px;
            margin-top:-10px;
        }

        .members .dropdown-toggle {
            max-width: 999px;
            margin-top:0px;
            height: 50px;
        }
        .members .dropdown .dropdown-menu {
            margin-top: -70px;
            position: absolute;
        }
        .navbar-collapse {
            min-width: 800px;
        }
    }
}

@media(min-width: 750px) {
    @media(max-width: 1300px) {
        .main {
            padding-right: 150px;
        }
    }
}

@media(max-width: 1030px) {
    .main {
        width: 95%;
        padding-right: 5px;
    }
}
.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.bs-callout {
    padding: 10px;
    margin: 20px 0;
    margin-left: 30px;
    border: 2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #68b9de;
}
/* Variations */
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info h4 {
    color: #5bc0de;
}
.anchor {
    display: block; position: relative; top: -130px; visibility: hidden;
}

.tocify-extend-page {
    display:none;
}

.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
}
.thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}
.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}

.thumbnail.with-caption-left-to {
    display: inline-block;
    background: #f5f5f5;
}


.thumbnail.with-caption-left-to small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}

table .img img {

}

table td {
    padding-right: 15px;
}


a.tooltip2 {outline:none; }
a.tooltip2 strong {line-height:30px;}
a.tooltip2:hover {text-decoration:none;}
a.tooltip2 span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip2:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip2 span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

#news p {
    font-size: 8pt;
    text-align: left;
}
#news h3 {
    font-size: 11pt;
}


.selected { background-color: #ddd !important; }
